.messageInput {
    width:50%;
    height:300px;
}

#messagesSentList, #messagesReceivedList{
    height: 400px;
    overflow:auto;
}

#dataLists {
    height:300px;
}

#dataLists>div{
    float:left;
    width:50%;
}