PubNub Test Panel
<p><textarea class="form-control messageInput"/>
<button type="button" class="btn btn-primary" id="submitMessage">Send</button>
</p>


<div id="dataLists">
    <div class="panel panel-default">
        <div class="panel-heading">
            Messages Sent
        </div>
        <div class="panel-body list-group" id="messagesSentList"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Messages Received
        </div>
        <div class="panel-body list-group" id="messagesReceivedList"></div>
    </div>
</div>
